/* Styles for homepage and templates */
*{
    box-sizing: border-box;
}
body{
    margin: 0; background: linear-gradient(-45deg, #aac, #eee); background-repeat: no-repeat;
    min-height: 100vh;
}
/* Header */
header{
    padding: 10px 20px; font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #11579C; width: 100%;
    display: flex; justify-content: space-between;
}
.h-left > h1{
    font-size: 40px; font-weight: 500; margin: 8px auto;
}
.h-left > h3{
    font-weight: lighter; margin: 20px auto;
}

.h-right{
    margin-right: 10px;
}
.h-logo{
    width: 270px; height: auto; padding: 5px; display: block; margin-bottom: 10px; margin-left: -20px;
}
.icons{
    height: 60px; width: 60px; display: inline-block; margin: -4px;
    background-image: url('assets/social-media.png'); border-radius: 50%;
    transform: scale(0.7); transition: 1s;
}
.i1{
    background-position: -11px -95px; margin-left: 30px;
}
.i2{
    background-position: -851px -95px;
}
.i3{
    background-position: -682px -95px;
}
.icons:hover{
    background-position-y: -179px; transform: scale(0.7) rotate(360deg);
}

/* Nav bar */
nav{
    margin-top: 10px; background-color: #eee;
}
/* included from w3school */
.nav-bar{
    padding-right: 10px;
}
.nav-bar::after{
    content: ""; clear: both; display: table;
}
.n-container {
    display: none;
    cursor: pointer;
    float: right;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /* ended here */
.top-nav{
    list-style-type: none; margin: 0; padding: 0;
    display: flex; justify-content: flex-end; flex-wrap: wrap;
}
.top-nav li{
    position: relative; display: inline-block;
}
.top-nav li > a:link, .top-nav li > a:visited{
    text-decoration: none; padding: 10px 20px; display: inline-block;
}
.top-nav li > a:hover, .top-nav li:hover .d-btn{
    background-color: black; color: white;
}
.d-btn{
    pointer-events: none;
    cursor: default;
}
.d-content{
    display: none; background-color: white; width: 220px; position: absolute; top: 39px; z-index: 1; box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}
.top-nav li:hover .d-content{
    display: block;
}
.d-content a:link, .d-content a:visited{
    display: block; padding: 10px 20px; text-decoration: none; border-bottom: 1px solid gray;
}
.d-content a:hover{
    background-color: gray; color: white;
}

/* Section */

/* Top Panel */
.top-panel{
    padding: 15px; margin: 10px auto; background-color: rgba(255, 255, 255, 0.5);
}
.top-panel > a:link, .top-panel a:visited{
    text-decoration: none; font-size: 18px;
}
.top-panel > h1{
    font-size: 32px; font-weight: lighter; margin: 15px auto 10px -4px; opacity: 0.9;
}


/* Main */
.main{
    min-height: 500px; border: 1px solid gray;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.main-center{
    text-align: center;
}
.main-center > p{
    font-size: 28px;
}
.main-center > h2{
    font-size: 40px; margin: -20px auto 25px;
}
#h-centersign{
    color:#0033FF;
}
.main > button{
    background:linear-gradient(to bottom, #05528B 0, #05528B 100%) ; color:white; padding: 10px 20px; font-size: 16px; border: none; border-radius: 10px; cursor: pointer; transition: 0.5s;
}
.main > button:hover{
    background-color: white; color: black;
}

/* bottom */
.bottom{
    min-height: 500px; padding: 60px 40px; background-color: #7e99a9;
    display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;
}
.bottom > div > h3{
    text-align: center; padding-bottom: 5px; border-bottom: 1px solid black;
}
.map-frame{
    flex-basis: 500px; height: 350px;
}
#map{
    width: 100%; height: calc(100% - 64px); border: 1px solid blue;
}
.b-panel{
    flex-basis: 260px; height: 350px;
}
.links-list{
    margin: 0; padding: 0; list-style-type: none;
}
.links-list > li a:link, .links-list > li a:visited{
    padding: 10px; display: block; text-decoration: none; background-color: white; margin: 10px auto; border-radius: 8px; text-align: right; color: black;
}
.links-list > li a:hover{
    background-color: blue; color: white;
}

/* Footer design */
footer{
    padding: 0; background-color: gray;
    display: flex; justify-content: space-between; flex-wrap: wrap;
}
.fBox3{
    padding: 10px; display: inline-block;
}
.f_campus{
    padding-top: 40px;
}
.campus-box{
    width: 220px; height: auto; margin: 15px; display: inline-block; box-shadow: 0 0 5px black; border-radius: 5px; overflow: auto; transition: all 0.5s;
}
.campus-box:hover{
    transform: scale(1.15);
}
.campus-box > img{
    width: 100%; height: 125px;
}
.campus-box > p{
    background-color: rgba(0,0,0, 0.5); color: white; padding: 8px; margin: -5px 0 0; text-align: center;
}
.f_social{
    display: flex; justify-content: center; align-items: center;
}
.f_i1{
    margin-left: 0;
}
#developer{
    font-size: 16px; line-height: 1.25; margin: 5px auto; text-align: center;
}
#copyright{
    background-color: rgba(0,0,0, 0.5); color: #bbb; padding: 10px; margin: 0; text-align: center;
}

/* basic table styles */
.basic-table{
    width: 100%;
}
.basic-table th, .basic-table td{
    width: 50%; padding: 10px 4px;
}
.basic-table th{
    text-align: right;
}
.basic-table td{
    text-align: left;;
}

/* universla styles*/
.itemsCenter{
    text-align: center;
}

/* Media Screen */
@media screen and (min-width: 1600px){
    header, nav, .top-panel, .main, .bottom, footer, #copyright{
        padding-left: 250px; padding-right: 250px;
    }
}
@media screen and (max-width: 1023px){
    header{
        padding: 10px;
    }
    .h-logo{
        width: 230px;
    }
}
@media screen and (max-width: 767px){
    .h-left > h1{
        font-size: 32px; margin: 0px;
    }
    .h-left > h3{
        margin: 20px auto;
    }
    .h-logo{
        width: 200px;
    }
    .h-right{
        margin-right: 0;
    }
    .i1{
        margin-left: 0;
    }
    .fBox3, .map-frame{
        flex-basis: 100%; text-align: center;
    }
}
@media screen and (max-width: 600px){
    .n-container{
        display: block;
    }
    #nav-contents{
        height: 0; overflow: hidden; z-index: 1;
    }
    .top-nav{
        flex-direction: column; align-items: flex-end;
    }
    .d-content{
        right: 0;
    }
}
@media screen and (max-width: 424px){
    .h-left > h1{
        padding-top: 60px; transform: translate(10px, 10px);
    }
    .h-left > h3{
        transform: translate(10px, 10px);
    }
    .h-right > .icons{
        display: block; margin-left: 80px;
    }
    .h-logo{
        width: 180px;
    }
    .b-panel{
        flex-basis: 100%;
    }
}