*{
    box-sizing: border-box;
}
body{
    margin: 0; background: linear-gradient(90deg, purple, red); min-height: 100vh;
}
.centered{
    display: flex; justify-content: center; align-items: center; min-height: inherit;
}
.box{
    max-width: 350px; background-color: white; padding: 20px 25px 10px; border-radius: 5px;
}
.welcome-txt{
    margin-bottom: 35px;
}
.top-box{
    border: 1px solid rgba(0,0,0, 0.2); width: fit-content; margin: auto; border-radius: 5px; margin-bottom: 35px;
}
.top-box > button{
    padding: 8px 45px; font-size: 16px; margin: 0; border: 0; background-color: white; border-radius: 5px; 
}
#signin-btn, .submit-btn{
    background: linear-gradient(90deg, red, purple); color: white;
}
#signin-eq > form > input{
    display: block; width: 287px; margin-top: 18px; padding: 12px; border-radius: 5px; border: 1px solid rgba(0,0,0, 0.2); box-shadow: 0 1px 1px rgba(0,0,0, 0.3);
}
#forgot-btn{
    text-decoration: none; display: block; margin-top: 8px; color: purple;
}
.submit-btn{
    font-size: 16px;
}
.cent{
    text-align: center; font-family: arial; 
}
.b-end{
    font-size: 16px; margin: 25px auto 15px;
}
.b-end > button{
    background: none; border: 0; font-size: 15px; color: purple;
}