h1 {
    margin-top: 0;
}

.nav-menu {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    margin: 20px;
}

.nav-menu > a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-menu a:hover {
    background-color: #555;
}

.section {
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

ul {
    list-style-type: disc;
    color: #666;
}

.contact-info {
    margin-top: 20px;
    color: #666;
}

.contact-info p {
    margin: 5px 0;
}

/* Media Screen */
@media screen and (min-width: 1600px) {
    .section, .nav-menu {
        margin-left: 250px;
        margin-right: 250px;
    }
}