/* Page : User Interface */
.user-interface{
    min-height: 550px; width: 100%; position: relative;
}
.user-interface::after{
    content: ""; clear: both; display: table;
}
/* left and right float started from here*/ 
.ui-left, .ui-right{
    float: left; height: auto;
}
.ui-left{
    width: 25%;
    background-color: #11579c;
}
#side-panel-x{
    font-size: 22px; background: none; border: 1px solid; color: red; visibility: hidden;
}
.ui-left > .ui-image{
    width: 100px; height: 100px; border-radius: 50%; margin: 20px auto auto;
    background-image: url('blank-user.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;
}
.ui-left #ui-username{
    text-align: center;
}
#ui-username{
    margin-bottom: 50px;
}
.ui-left > button{
    display: block; width: 100%; padding: 10px 20px; margin-bottom: 5px; background-color: white; border: 1px solid gray;
}
.ui-left > button:hover{
    background-color: #9440ad;
}
.ui-right{
    width: 75%; border: 1px solid rgb(31, 109, 219);
}
#side-panel{
    display: none;
}
.tabs{
    display: none;  padding: 10px; min-height: 550px;
}
.ui-active{
    background-color: #efefef !important;
}
.last{
    text-align: center;
}

/* tab 1 : user details */
#user-snippet{
    padding: 10px;
    text-align: center;
    background-color: #7e99a9;
}
#user-pp-image{
    display: inline-block; height: 200px; width: 200px;
    background-image: url('blank-user.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;
}
.user-info{
    display: inline-block; transform: translate(20px,-90px);
}
.basic-button{
    border: none; padding: 10px 20px; font-size: 16px; border-radius: 10px;
}

@media screen and (max-width: 767px){
    .ui-left{
        width: 0; overflow: hidden; position: absolute; transition: all 0.5s; background-color: #eee;
    }
    .ui-right{
        width: 100%; float: none;
    }
    #side-panel{
        display: block;
    }
    #side-panel-x{
        visibility: visible;
    }
}