* {
    box-sizing: border-box;
}

body {
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Styles for login and admin-interface */
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.basic-form{
    max-width: 600px; margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-gropu input[type="date"],
.form-group input[type="password"],
.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles for admin-interface */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    overflow-y: auto; /* Allow vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: background-color 0.3s; /* Adding transition for smoother hover effect */
}

.sidebar a:hover {
    background-color: #555; /* Darkening the background on hover */
}

/* Welcome Message */
.welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 93vh; /* Set height to full viewport height */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.content {
    padding: 20px;
    margin-left: 200px;
    width: calc(100% - 200px);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.form {
    max-width: 500px;
    margin: 0 auto;
}


/* succes message */
#message {
    display: none;
    position: fixed;
    top: 50%; /* Position at 50% from the top */
    left: 50%; /* Position at 50% from the left */
    transform: translate(-50%, -50%); /* Center the message */
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000; /* Ensure it's above other content */
}

