*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.box{
    max-width: 350px; background-color: #eee; padding: 20px 25px 10px; border-radius: 5px; margin: 100px auto;
}
.welcome-txt{
    margin-bottom: 35px;
}
.top-box{
    border: 1px solid rgba(0,0,0, 0.2); width: fit-content; margin: auto; border-radius: 5px; margin-bottom: 35px;
}
.top-box > button{
    padding: 8px 45px; font-size: 16px; margin: 0; border: 0; border-radius: 5px; 
}
#signin-btn, .submit-btn{
    background: linear-gradient(225deg, purple, rgb(245, 67, 155)); color: white;
}
.forms > form > input{
    display: block; width: 287px; margin-top: 18px; padding: 12px; border-radius: 5px; border: 1px solid rgba(0,0,0, 0.2); box-shadow: 0 1px 1px rgba(0,0,0, 0.3);
}
#forgot-btn{
    text-decoration: none; display: block; margin-top: 8px; color: purple;
}
.submit-btn{
    font-size: 16px;
}
.submit-btn:hover{
    outline: 1px solid purple; background: none; color: black;
}
.cent{
    text-align: center; font-family: arial; 
}
.b-end{
    font-size: 16px; margin: 25px auto 15px;
}
.b-end > button{
    background: none; border: 0; font-size: 15px; color: purple;
}
#signup-eq{
    display: none;
}

/* Pages : marks and tution fees */
.marks-form{
    max-width: 900px; margin: auto; border: 1px solid; padding: 15px;
}
.row{
    margin-bottom: 15px;
}
.row::after{
    content: ""; clear: both; display: table;
}
.col1{
    width: 40%; float: left; text-align: right;
}
.col2{
    width: 60%; float: left;
}
.col1 > label{
    display: inline-block; padding: 8px 10px 8px 0;
}
.col2 > input, .col2 > select{
    width: 230px; padding: 8px; border-radius: 5px; border: 1px solid gray;
}
.row:last-child{
    text-align: center;
}
.btn{
    padding: 7px 25px; border: 1px solid gray; border-radius: 10px; margin: 5px 10px; color: white; transition: 0.3s;
}
.btn:hover{
    transform: scale(1.1);
}
.clear-btn{
    background-color: red;
}
.submit-btn2{
    background-color: green;
}

@media screen and (max-width: 425px){
    .col1{
        width: 33%;
    }
    .col2{
        width: 67%;
    }
    .col12 > label{
        padding-right: 0px;
    }
    .marks-form{
        padding: 10px;
    }
}
@media screen and (max-width: 374px){
    .col1, .col2{
        float: none; width: 100%;
    }
    .col1{
        text-align: left;
    }
}